<h1>Influencer</h1>

<p>
    Influencer is a simple blog that lets you know whether an establishment currently has a long line of people waiting to get inside,<br>
    especially useful for when bars or restaurants don't take reservations!
    <br><br>

    Sign Up for an account with the link above or Log In below and let us know how things are looking out there,
    <br>
    you may also check out who is or isn't busy right now!
    <br><br>

    <%= form_for :login do |f| %>

    <div>
        <%= f.label :email %><br>
        <%= f.text_field :email, autofocus: true %><br><br>
    </div>

    <div>
        <%= f.label :password %><br>
        <%= f.password_field :password %><br><br>
    </div>

    <div>
        <%= f.submit "Log In" %><br><br>
    </div>

    <% end %>
