<h1>Edit User</h1>

<%= form_for @user, url: {action: "update", method: "patch"} do |f| %>

<div>
    <%= f.label :name %>
    <%= f.text_field :name %>
</div>

<div>
    <%= f.label :email %>
    <%= f.text_field :email %>
</div>

<div>
    <%= f.label :update_password %>
    <%= f.password_field :password %>
</div>

<div>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
</div>

<%= f.submit "Submit Edit" %>

<% end %>
