<h1>Edit User</h1>

<%= form_for @user, url: {action: "update", method: "patch"} do |f| %>

<div>
    <%= f.label :name %><br>
    <%= f.text_field :name %><br><br>
</div>

<div>
    <%= f.label :email %><br>
    <%= f.text_field :email %><br><br>
</div>

<div>
    <%= f.label :update_password %><br>
    <%= f.password_field :password %><br><br>
</div>

<div>
    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation %><br><br>
</div>

<%= f.submit "Submit Edit" %><br><br>

<% end %>
