<h1>Sign Up</h1>

<%= form_for @user do |f| %>

<div>
    <%= f.label :name %><br>
    <%= f.text_field :name, autofocus: true %><br><br>
</div>

<div>
    <%= f.label :email %><br>
    <%= f.text_field :email %><br><br>
</div>

<div>
    <%= f.label :password %><br>
    <%= f.password_field :password %><br><br>
</div>

<div>
    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation %><br><br>
</div>

<%= f.submit "Sign Up" %><br><br>

<% end %>
