<h1>Talk to us!</h1>

<%= form_for [@post] do |f| %>

<div>
    <%= f.label :Establishment %><br>
    <%= f.text_field :title %><br><br>
</div>

<div>
    <%= f.label :Line %><br>
    <%= f.text_field :body %><br><br>
</div>

<%= f.submit "Submit Post" %><br><br>

<% end %>
