<h1>Posts</h1>

Title:
<%= @post.title %><br>
Date:
<%= @post.date %><br>
Time:
<%= @post.time %><br>
Body:
<%= @post.body %><br>

<%= link_to "Edit Post", edit_user_post_path(@post) if @user == current_user %>
<%= link_to "Delete Post", user_post_path, method: :delete, data: { confirm: "Are you sure you to delete this post?"} if @user == current_user %>
